# Python and SQL databases

### Contents:
0. Install packages
1. Sqlite3 
2. Duckdb

## 0. Install packages

In [1]:
%pip --version

pip 24.3.1 from /opt/anaconda3/lib/python3.12/site-packages/pip (python 3.12)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install duckdb

Collecting duckdb
  Downloading duckdb-1.1.3-cp312-cp312-macosx_12_0_x86_64.whl.metadata (762 bytes)
Downloading duckdb-1.1.3-cp312-cp312-macosx_12_0_x86_64.whl (17.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.0/17.0 MB 25.0 MB/s eta 0:00:0000:0100:01
Installing collected packages: duckdb
Successfully installed duckdb-1.1.3
Note: you may need to restart the kernel to use updated packages.

## 1. Sqlite3

Sqlite3 is a built in module in Python3, so you only have to import this module and it works out of the box. 

To use it, you'll need to make two objects:
1. a connection
2. a cursor, which is used to interact with the database.

We use the SQL language to interact with the database. See https://en.wikipedia.org/wiki/SQL for more info.
Or find an overview of SQL statements here: https://s3.amazonaws.com/assets.datacamp.com/email/other/SQL+for+Data+Science.pdf

Sqlite3 library automatically creates a database for us, if it does not exist already.
You can download a database viewer from https://sqlitebrowser.org/ to check your database.

In [3]:
import sqlite3
conn = sqlite3.connect('michiel.db') #database is created
cur = conn.cursor()
cur.execute('CREATE TABLE if not exists store(item TEXT, quantity INTEGER, price REAL)')
cur.execute("INSERT INTO store VALUES('fiets', 10, 1234.56)")
conn.commit()
conn.close()

In [4]:
conn = sqlite3.connect('michiel.db')
cur = conn.cursor()
cur.execute('SELECT * FROM store')
rows = cur.fetchall()
rows

[('fiets', 10, 1234.56)]

In [5]:
import sqlite3
conn = sqlite3.connect('michiel.db')
cur = conn.cursor()

def insert(item, quantity, price):
    cur.execute("INSERT INTO store VALUES(?,?,?)", (item, quantity, price))
    conn.commit()

insert('auto', 12, 10.5)
#conn.close()

In [6]:
#You can search the database by using LIKE
search = cur.execute("SELECT * FROM store WHERE item LIKE 'fiets'")
for x in search:
    print(x)

('fiets', 10, 1234.56)

In [7]:
sql = "SELECT * FROM store WHERE item LIKE '"+ str('item')+"'"
print(sql)

SELECT * FROM store WHERE item LIKE 'item'


## 2. Duckdb
source: https://duckdb.org/docs/api/python/overview.html

In [9]:
#setting up a database
import duckdb
con = duckdb.connect(database='my-db.duckdb', read_only=False)

In [10]:
#PLEASE NOTE THAT YOU DON"T HAVE TO CREATE A CURSOR OBJECT!
# create a table
con.execute("CREATE TABLE items(item VARCHAR, value DECIMAL(10,2), count INTEGER)")
# insert two items into the table
con.execute("INSERT INTO items VALUES ('jeans', 20.0, 1), ('hammer', 42.2, 2)")

# retrieve the items again
con.execute("SELECT * FROM items")
print(con.fetchall())

[('jeans', Decimal('20.00'), 1), ('hammer', Decimal('42.20'), 2)]